/* Global Colors */
:root { 
  --default-color: #272829; 
  --heading-color: #050d18; 
  --accent-color: #ffd700;
  --main-accent-color: #448b57;
  --contrast-color: #ffffff; 
  --background-color: #f3f3f3;
}


/* Nav Menu Colors */
:root {
  --nav-color: #a8a9b4; 
  --nav-hover-color: #ffffff; 
  --nav-mobile-background-color: #040b14; 
}


/*General Styles */
body {
  background-color: var(--background-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color) transparent 25%);
  text-decoration: none;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
h1,
h3,
h4,
h5,
h6 {
  color: var(--default-color);
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

/* header styles */
.profile-img img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid color-mix(in srgb, transparent 85%);
}

.header {
  background-color: var(--heading-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  width: 300px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .logo {
  line-height: 1;
  margin-bottom: 15px;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: var(--contrast-color);
}

.header .social-links {
  margin: 0 0 20px 0;
}

.header .social-links a {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, var(--background-color) transparent 90%);
  color: var(--background-color);
  margin: 0 2px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.header .social-links a:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
}


/* Nav styles */
#navmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--heading-color)!important;
  color: var(--contrast-color);
  padding-top: 20px;
  z-index: 1000;
}

.nav-link {
  display: inline-flex;
  align-items: center; 
  gap: 6px;           
  text-decoration: none;
  color: inherit; 
  padding-top: 4px; 
  padding-bottom: 4px; 
}

.nav-link .navicon {
  position: relative;
  top: -2px;
  font-size: 16px;
}

.nav-item {
  margin-bottom: 15px; 
}


/* List styles inside sidebar */
#navmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navmenu ul li {
  padding: 5px;
}

#navmenu ul li a {
  color: var(--nav-color);
  text-decoration: none;
}

#navmenu .nav-link.active {
  color: var(--nav-hover-color); 
}

#navmenu .nav-link.active .navicon {
  color: var(--accent-color); 
}

#navmenu .nav-link:hover {
  color: var(--nav-hover-color);
}

#navmenu .nav-link:hover .navicon {
  color: var(--accent-color);
}


/* Sidebar styles */
#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

#sidebar a:hover {
  background-color: #495057;
}

/* Main Section Styles */
.main {
  width: calc(100% - 300px); 
  height: 100vh;
  padding: 0;
  margin-left: 150px;
}

section, .section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

.section-title{
  padding-bottom: 40px;
}

.section-title h2 {
  position: relative;
  padding-bottom: 20px; 
  margin-bottom: 30px;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--main-accent-color);
  left: 0;
  bottom: -10px;
}


/* Home Section Styles*/
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*Story Section Styles*/
.story .content ul {
  list-style-type: none;
}

.story .content ul li {
  margin-bottom: 10px;
}

.story .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--main-accent-color);
  line-height: 0;
}


/*Resume Section Styles*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-item {
  padding: 0 0 20px 30px;
  margin-top: -2px;
  border-left: 4px solid var(--main-accent-color);
  position: relative;
}

.resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume-item ul {
  padding-left: 20px;
}

.resume-item ul li {
  padding-bottom: 10px;
}

.resume-item:last-child {
  padding-bottom: 0;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  left: -15px;
  top: 0;
  background: var(--background-color);
  border: 4px solid var(--main-accent-color);
}

/*Certification Styles*/
#certifications .certs {
  display: flex; 
  align-items: flex-start; 
  gap: 20px;
  margin-bottom: 20px; /
}

#certifications .certs img {
  width: 200px; 
  height: auto; 
  object-fit: contain; 
}

#certifications .text-block {
  max-width: 900px;
}


/*Contact Section Styles*/
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--main-accent-color);
  background: color-mix(in srgb, var(--main-accent-color), transparent 92%);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item {
  margin-bottom: 40px;
}

.contact .info-item:hover i {
  background: var(--main-accent-color);
  color: var(--contrast-color);
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .email-form {
  background-color: var(--contrast-color);
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact .email-form input[type=text],
.contact .email-form input[type=email],
.contact .email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--contrast-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .email-form button[type="submit"] {
  color: var(--contrast-color);
  background: var(--main-accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--main-accent-color), transparent 25%);
  color: var(--main-accent-color);
}


/*javascript Styles*/
.header.header-show {
  transform: translateX(0)
}

.header-toggle {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
}

.header-toggle {
  background-color: var(--accent-color); 
  border-radius: 50%;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease; 
}

.header-toggle:hover {
  background-color: transparent;
}


/*Mobile responsive styles*/
@media (max-width: 1199px) {
  .header {
    transform: translateX(-100%)
  }

  .main {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  #certifications .certs {
      flex-direction: column; 
      align-items: center;
  }
  
  #certifications .certs img {
      width: 100%; 
      max-width: 300px; 
  }
}